* 
    padding: 0
    margin: 0
    background-color  rgba(212, 48, 48, 1)
.login
    height 100%vh
    padding: 0 45px
    .login__hd
        width 90px
        height 27px
        font-family: Microsoft YaHei
        font-size:   18px
        color: rgba(255, 255, 255, 1)
        margin-top: 22px  
        margin-left: 99px 
        margin-right: 96px
    .logo img
        width 139px
        height 139px
        margin-top: 71px  
        margin-left: 75px 
        margin-right: 71px
    .login__wrap 
        margin-top: 160px
        span 
            display: inline-block
            color: rgba(255, 255, 255, 1)
            font-size 20px
            font-family Microsoft YaHei
        
        input
            width: 211px;
	        height: 42px;
            text-indent: 5px;
            color: rgba(255, 255, 255, 1);
            border-radius: 2px;
            font-size: 16px;
            line-height: 150%;
            border: rgba(153, 153, 153, 1) solid 1px;
            margin-left   24px



        

  
        
